
@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body {
    background-color: $light-color; // cor de fundo
    color: $dark-color;

    /* font-family: $font-stack;
    font-size: 18px; */
    //Nested Properties
    font : {
        family: $font-stack;
        size: 18px;
    }

    line-height: 1.5;
}

header {

    background-color: $dark-color;
    color: $light-color;
    padding: 1rem;

    h1 {
        text-align: center;
    }

}

.section {
    padding: 3rem;

    &-a{
        background-color: $primary-color;
        color: white;
    }

    &-b{
        background-color: $secondary-color;
        color: white;
    }
}

/* EXTEND, criar includes noutras propriedades */
%btn-shared{
    display: inline-block;
    border: none;
    padding: .7rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.btn {
    &-light{
        @extend %btn-shared;
        background-color: $light-color;
        color: #333;
    }

    &-dark{
        @extend %btn-shared;
        background-color: $dark-color;
        color: #fff;
    }
}